body {
  font-family: Helveticca, sans-serif;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 20px;
}

#profile,
#guest {
  float: right;
}

/* Style the links inside the navigation bar */

nav a, nav span {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

nav a:hover {
  background-color: #31a335;
  color: black;
}

/* Add a color to the active/current link */

nav a.active {
  background-color: #4caf50;
  color: white;
}

main {
  padding: 10px;
}

.travelCard img {
  width: 300px;
  height: 200px;
  margin: auto;
  display: inherit;
}

.travelCard, .registerBox {
  width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0 0 5px 5px #c9ccce;
}

.travelCard button {
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 15px;
  font-size: larger;
  background-color: #52b352;
}

div .register {
  margin-bottom: 10px;
}

.registerBox label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 5px;
  cursor: pointer;
}

.registerBox input[type="submit"] {
  font-size: large;
  border: none;
  background-color: #31a335;
  border-radius: 0.25em;
}